<section class="content">
    <div class="content-block">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <h2>Active Courses</h2>
            </div>
            <div class="body">
              <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel [expanded]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Program
                    </mat-panel-title>
                    <mat-panel-description>
                      Science
                      <span class="col-green">80%</span>
                      <!-- <mat-icon>80%</mat-icon> -->
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="body">
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <mat-card>
                          <mat-card-header>
                            <img mat-card-avatar src="assets/images/user/user3.jpg">
                            <mat-card-title class="">ST-544D00 </mat-card-title>               
                            <mat-card-subtitle>Teacher: John Deo</mat-card-subtitle>
                          </mat-card-header>
                          <!-- <img mat-card-image src="assets/images/image-gallery/5.jpg"> -->
                          <mat-card-content>
                            <div class="container">
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est ab exercitationem quasi. 
                                Animi fuga tempora mollitia accusantium, magni vitae.
                                 Officiis obcaecati fugit id aspernatur alias quo accusantium deleniti facere corrupti.
                              </p>
                            </div>
                            <div class="row clearfix">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                  <div class="header">
                                    <h2>Scores</h2>
                                  </div>
                                  <div class="body table-responsive">
                                    <table mat-table [dataSource]="dataSource2" class="w-100">
                                      <!-- No Column -->
                                      <ng-container matColumnDef="date">
                                        <th mat-header-cell *matHeaderCellDef> Date </th>
                                        <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
                                      </ng-container>
                                      <!-- Name Column -->
                                      <ng-container matColumnDef="type">
                                        <th mat-header-cell *matHeaderCellDef> Type </th>
                                        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                                      </ng-container>
                                      <!-- Gender Column -->
                                      <ng-container matColumnDef="score">
                                        <th mat-header-cell *matHeaderCellDef> Score </th>
                                        <td mat-cell *matCellDef="let element"> {{element.score | percent}} </td>
                                      </ng-container>
                                      <!-- Email Column -->
                                      <ng-container matColumnDef="status" class="pt-2">
                                        <th mat-header-cell *matHeaderCellDef> Status </th>
                                        <td mat-cell *matCellDef="let element" > 
                                          <div [class]="badgeClass(element.status)">
                                            {{element.status}}
                                        </div> 
                                      </td>
                                      </ng-container>
                                     
                                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </mat-card-content>
                          <button mat-button color="primary" (click)="openAssignmentModal()" *ngIf="dataSource2.data.length<5">Submit Assignment</button>
                          <mat-divider></mat-divider>
                          <mat-card-actions>
                            <div fxLayout="row">
                              <button mat-icon-button>
                                <mat-icon class="col-blue">share</mat-icon>
                              </button>
                              <button mat-icon-button>
                                <mat-icon class="col-red">favorite</mat-icon>
                              </button>
                            </div>
                          </mat-card-actions>
                        </mat-card>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <mat-card>
                          <mat-card-header>
                            <img mat-card-avatar src="assets/images/user/user3.jpg">
                            <mat-card-title class="">ST-544D00 </mat-card-title>               
                            <mat-card-subtitle>Teacher: John Deo</mat-card-subtitle>
                          </mat-card-header>
                          <!-- <img mat-card-image src="assets/images/image-gallery/5.jpg"> -->
                          <mat-card-content>
                            <div class="container">
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est ab exercitationem quasi. 
                                Animi fuga tempora mollitia accusantium, magni vitae.
                                 Officiis obcaecati fugit id aspernatur alias quo accusantium deleniti facere corrupti.
                              </p>
                            </div>
                            <div class="row clearfix">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                  <div class="header">
                                    <h2>Scores</h2>
                                  </div>
                                  <div class="body table-responsive">
                                    <table mat-table [dataSource]="dataSource2" class="w-100">
                                      <!-- No Column -->
                                      <ng-container matColumnDef="date">
                                        <th mat-header-cell *matHeaderCellDef> Date </th>
                                        <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
                                      </ng-container>
                                      <!-- Name Column -->
                                      <ng-container matColumnDef="type">
                                        <th mat-header-cell *matHeaderCellDef> Type </th>
                                        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                                      </ng-container>
                                      <!-- Gender Column -->
                                      <ng-container matColumnDef="score">
                                        <th mat-header-cell *matHeaderCellDef> Score </th>
                                        <td mat-cell *matCellDef="let element"> {{element.score | percent}} </td>
                                      </ng-container>
                                      <!-- Email Column -->
                                      <ng-container matColumnDef="status" class="pt-2">
                                        <th mat-header-cell *matHeaderCellDef> Status </th>
                                        <td mat-cell *matCellDef="let element" > 
                                          <div [class]="badgeClass(element.status)">
                                            {{element.status}}
                                        </div> 
                                      </td>
                                      </ng-container>
                                     
                                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </mat-card-content>
                          <button mat-button color="primary" (click)="openAssignmentModal()" *ngIf="dataSource2.data.length<5">Submit Assignment</button>
                          <mat-divider></mat-divider>
                          <mat-card-actions>
                            <div fxLayout="row">
                              <button mat-icon-button>
                                <mat-icon class="col-blue">share</mat-icon>
                              </button>
                              <button mat-icon-button>
                                <mat-icon class="col-red">favorite</mat-icon>
                              </button>
                            </div>
                          </mat-card-actions>
                        </mat-card>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <h2>Completed Courses</h2>
            </div>
            <div class="body">

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>