<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <img [src]='students.img' alt="avatar">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content class="dialog">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div  class="header header-buttons-left ms-0 justify-content-between">
                <h2>Scores</h2>
                <h6 class="mt-2 badge badge-solid-orange">{{students.department | uppercase}}</h6>
                  <div class="m-l-10" matTooltip="ADD NEW SCORE">
                    <button mat-mini-fab color="primary" (click)="isFormOpened=true">
                      <mat-icon class="col-white">add</mat-icon>
                    </button>
                  </div>
              </div>
              <div [@openClose]="isFormOpened ? 'open' : 'closed'" class="form">
                <form class="register-form ms-4 me-4 w-100" [formGroup]="stdForm" (ngSubmit)="submit" *ngIf="isFormOpened">           
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <!-- <mat-error *ngIf="stdForm.get('date').hasError('required')">
                          Please select date
                        </mat-error> -->
                      </mat-form-field>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Evaluation Type</mat-label>
                        <mat-select formControlName="type" required>
                          <mat-option [value]="'exam'">
                            Exam
                          </mat-option>
                          <mat-option [value]="'assignment'">
                            Assignment
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="stdForm.get('type').hasError('required')">
                          Type is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Score</mat-label>
                        <input matInput formControlName="score" type="text" inputmode="numeric">
                        <mat-icon matSuffix>percent</mat-icon>
                        <mat-error *ngIf="stdForm.get('score').hasError('required')">
                          Score is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      <div class="example-button-row">
                        <button mat-raised-button color="primary" [type]="submit" [disabled]="!stdForm.valid" 
                          (click)="confirmAdd()">Save</button>
                        <button mat-raised-button color="warn" (click)="isFormOpened=false" tabindex="-1">Cancel</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="body table-responsive">
                <table mat-table [dataSource]="dataSource2" class="w-100">
                  <!-- No Column -->
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
                  </ng-container>
                  <!-- Name Column -->
                  <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                  </ng-container>
                  <!-- Gender Column -->
                  <ng-container matColumnDef="score">
                    <th mat-header-cell *matHeaderCellDef> Score </th>
                    <td mat-cell *matCellDef="let element"> {{element.score | percent}} </td>
                  </ng-container>
                  <!-- Email Column -->
                  <ng-container matColumnDef="status" class="pt-2">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element" > 
                      <div [class]="badgeClass(element.status)">
                        {{element.status}}
                    </div> 
                  </td>
                  </ng-container>
                 
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
